*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .brand_bar {
    height: 25px;
    background-color: black;
}

img{
    max-width: 100%;
}

.logo_text_brand{
    height: 15px;
}

.game_play{
    height: 100%;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
   
}

.pt_15{
    padding-top: 15rem;
}

.logobanner{
    width: 200px;
}

.sfondo{
    z-index: 0;
}

.prova{
    background-image: url(../img/jumbo-bg.png);
}

.p_border{
    padding: 2px;
}

.block_social> img{
    height: 100px;
}

.sony_entertaiment{
    width: 150px;
}