*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .brand_bar {
    height: 25px;
    background-color: black;
}

img{
    max-width: 100%;
}

.logo_text_brand{
    height: 15px;
}

.game_play{
    height: 100%;
}

#returnal {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
   
}

#two_of_us{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.pt_15{
    padding-top: 15rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.logobanner{
    width: 200px;
}
.p_border{
    padding: 2px;
}

.block_social> img{
    height: 100px;
}

.sony_entertaiment{
    width: 150px;
}

.text_block h4 {
    font-size: 0.75rem;
    font-weight: bold;
   
}
.active{
    border-bottom: 2px solid blue;
}
.hover{
    height: 100%;
    width: 100%;
    top: 0;
}

.logo_social{
    height: 50px;
}

.imagebox{
    padding: 10rem;
}

.imagebox> img{
    height: 100px;
    width: 100px;
}

.play_plus{
    background-color: #BEBCBB;
    ;
}
.play_now{
    background-color: #161C3B;
    
    
}

.play_plus.background_add{
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.play_now.background_add{
    background-image: url(../img/ps-now-april-featured-image-block.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;

}

p_banner{
    font-size: .85rem!important;
}

.pd{
    /* height: 100px; */
}

.pd> img{
    height: 100%;
}

@media screen and (max-width: 767px) {
    .play_plus.background_add{
     background-image: none;
        
    }
    .play_now.background_add{
        background-image: none;
           
       }

}

.card_img_container:hover{
    border: 3px solid #0d6efd ;
    border-radius: 0.5rem;
    padding: 2px;
    cursor: pointer;
    transform: translate(0, -20px);
}

.visible:hover{
    display: none;
}
.active_hover:hover{
    border-bottom: 2px solid #0d6efd;
    cursor: pointer;
}

.card_img_container {
    transition: transform 1s;
  }
  
  

/* transition */

.card_img_container{
    position: relative;
    animation-name: up;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes example {
    0%   { left:0px; top:0px;}
    
    50%  { left:0px; top:200px;}
   
    100% { left:0px; top:0px;}
  }

@media screen and (min-width: 576px) {
   .riga{
    flex-direction: row;
   }
   .imagebox{
    padding: 0px;
}

}

@media screen and (min-width: 768px) {
    .logobanner{
        width: 400px;
    }
    
    .imagebox{
        padding: 0 6rem;
    }
}

@media screen and (min-width: 992px) {
    .logobanner{
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {
    
}



.blocco_nav_open{
    /* position: absolute; */
}

hr{
    height: 3px;
    color: black;
}