*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .brand_bar {
    height: 25px;
    background-color: black;
}

img{
    max-width: 100%;
}

.logo_text_brand{
    height: 15px;
}
